:root{
  --mdgray: rgb(17, 18, 26);
  --dkgray:rgb(8, 9, 12);
  --ltblue: rgb(62, 131, 215) ;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200 !important;
  background-color: var(--mdgray) !important;
  color: var(--ltblue) !important;
}

button{
  border-radius: 9px !important;
  border: none;
  padding: .2em;
}
header{
  background-color:rgb(8, 9, 12);
  font-size: 1em;
  margin-bottom: 2em;
}

h1{
  font-size: 2.2em !important;
  font-weight: bold;
  padding: 10px 0 5px 0;
}

h2{
  font-size: 1.5em !important;
  font-weight: bold;
}

h2 span{
  font-size: 1em !important;
  font-weight: bold;
  color: var(--ltblue) !important;
}

hr{
  border-top: .5px solid var(--ltblue);
}

input{
  background-color: var(--dkgray);
  outline: none;
  border: .5px solid var(--ltblue)  !important;
  color: gainsboro;
}

span{
  color: gainsboro;
  font-weight: 400;
}

.icon{
  height: 4em;
}

#search-city {
  display: inline-block;
}

#search-city input{
  width: 100%;
  margin: 1em 0 1em 0;
  padding: .2em;
  border-radius: 9px;
}

#search-city button{
  background-color: rgb(0, 81, 255);
  color: gainsboro;
  width: 100%;
}

#search-history button{
  background-color: var(--dkgray);
  color: gainsboro;
  width: 100%;
  margin-bottom: 1em;
  border: .5px solid rgb(61 74 91);
}

#current-weather{
  background-color: var(--dkgray);
  width: 100%;
  padding: 1em;
  display: inline-block;
  border-radius: 9px;
}

.card-5-day{
  background-color: var(--dkgray);
  min-width: 17%;
  border-radius: 9px;
  margin-bottom: 1.5em;
}

#forecast-5-day-cards{
  width: 100%;
}

#forecasts h4{
  font-size: 20px;
  font-weight: bold;
  padding-top: 1em;
}

.uv-favorable{
  color: cyan;
}

.uv-moderate{
  color: yellow;
}

.uv-severe{
  color: red;
}